<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">LogBuzz</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">

    <form class="navbar-form navbar-right" role="search">
      <button type="submit" class="btn btn-default" ng-click="skipBack()"><span class="glyphicon glyphicon-backward"></span> </button>
      <div class="form-group">
        <input type="text" class="form-control" value="Page {{skip+1}}" disabled style="width: 85px; text-align: center"/>
      </div>
      <button type="submit" class="btn btn-default" ng-click="skipForward()"><span class="glyphicon glyphicon-forward"></span> </button>
      <button type="submit" class="btn btn-default" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> </button>
    </form>

    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Tag list CSV" ng-model="tagList" ng-change="refresh()">
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level: {{levelString()}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="setLevel('INFO')">INFO</a></li>
          <li><a href="" ng-click="setLevel('WARNING')">WARNING</a></li>
          <li><a href="" ng-click="setLevel('SEVERE')">SEVERE</a></li>
          <li><a href="" ng-click="setLevel('all')">all</a></li>
        </ul>
      </li>
    </ul>

  </div><!-- /.navbar-collapse -->
</nav>
<div ng-show="!loaded">
	<h5 class="text-center"><i class="icon-refresh icon-spin icon-large"></i> Loading Logs...</h5>
</div>
<div ng-show="loaded">
  <table id="log-table" class="table table-hover table-condensed" ng-show="logItemList.length > 0" style="margin-top: 15px">
    <tr>
      <th class="log-time">Date</th>
      <th class="log-level">Level</th>
      <th class="log-message">Text</th>
      <th class="log-time-list">Tag List</th>
    </tr>
    <tr ng-repeat="logItem in logItemList" ng-class="{'warning': logItem.level == 'WARNING', 'danger': logItem.level == 'SEVERE'}">
      <td class="log-time">{{logItem.timestamp | dateTime}}</td>
      <td class="log-level">{{logItem.level | toUpperCase}}</td>
      <td class="log-message">{{logItem.message}}</td>
      <td class="log-time-list">{{logItem.tagList | join:" "}}</td>
    </tr>
  </table>
<p ng-show="logItemList.length == 0" class="text-center"><i>No log items to show</i></p>
</div>